<a href="https://colab.research.google.com/github/sachinwandale1994/Capstone-project/blob/main/EDA_on_Play_Store_app_Review_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - **Play Store App Review Analysis**

<img src="https://drive.google.com/uc?id=1kj5p5-n7GLkgkJe-if6Sd_Z4MFZf2uPT" alt="drawing" width="400"/>

##### **Project Type**    - EDA
##### **Contribution**    - Individual
##### **Team Member 1 -** Sachin Wandale

# **Project Summary -**

In [ ]:
h

NameError: ignored

Write the summary here within 500-600 words.

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**

**Write Problem Statement Here.**

Question 1
What is the relationship between application rating and installation?

Question 2
What is the rating of an an application with given number of reviews and installation ?

#### **Define Your Business Objective?**

Answer Here.

To analyze the Google Play Store Apps by implementing Data Science Process

To determine trends and patterns in Google Play Store Apps

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required.
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits.

     The additional credits will have advantages over other students during Star Student selection.

             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.


```
# Chart visualization code
```


*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule.

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Dataset Loading

In [ ]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')   # Google drive mounting

Mounted at /content/drive

In [ ]:
# load first Dataset
df_data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Python for Data Science /Capstone Project/Python/Play Store app Review/Play Store Data.csv')

In [ ]:
# load Second Dataset
df_user_review = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Python for Data Science /Capstone Project/Python/Play Store app Review/User Reviews.csv')

### Dataset First View

In [ ]:
# Dataset First Look
df_data.head() # head() function given default 5 first rows in output of df_data dataframe

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [ ]:
df_user_review.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
rows1 = df_data.shape[0]
cols1 = df_data.shape[1]

# Printing the number of Dataset rows and columns
print("Rows in df_data dataset: ", rows1)
print("Columns in df_data dataset: ", cols1)

# Similarly for another Dataset

# Dataset Rows & Columns count
rows2 = df_user_review.shape[0]
cols2 = df_user_review.shape[1]

# Printing the number of Dataset rows and columns
print("Rows in df_user_review dataset: ", rows2)
print("Columns in df_user_review dataset: ", cols2)

Rows in df_data dataset:  10841
Columns in df_data dataset:  13
Rows in df_user_review dataset:  64295
Columns in df_user_review dataset:  5

In [ ]:
print(df_data.shape)        # shape() method is used to fetch the dimensions of Pandas and NumPy type objects in python.
print(df_user_review.shape)

(10841, 13)
(64295, 5)

### Dataset Information

In [ ]:
# Dataset Info
df_data.info() #This method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [ ]:
df_user_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
print("Shape of df_data DataFreame:",df_data.shape)    # dataset shape before removing duplicate values.
print("Shape of df_user_review DataFreame:",df_user_review.shape)

Shape of df_data DataFreame: (10841, 13)
Shape of df_user_review DataFreame: (64295, 5)

In [ ]:
print("Duplicate entry in df_data data:",len(df_data[df_data.duplicated()]))  #By using duplicated method count total number of duplicates in dataset
print("Duplicate entry in df_user_review data:",len(df_user_review[df_user_review.duplicated()]))

Duplicate entry in df_data data: 483
Duplicate entry in df_user_review data: 33616

In [ ]:
duplicate_df = df_data[df_data.duplicated(keep = 'last') ] # all duplicates values from dt_data dataset
duplicate_df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
164,Ebook Reader,BOOKS_AND_REFERENCE,4.1,85842,37M,"5,000,000+",Free,0,Everyone,Books & Reference,"June 25, 2018",5.0.6,4.0 and up
192,Docs To Goâ„¢ Free Office Suite,BUSINESS,4.1,217730,Varies with device,"50,000,000+",Free,0,Everyone,Business,"April 2, 2018",Varies with device,Varies with device
193,Google My Business,BUSINESS,4.4,70991,Varies with device,"5,000,000+",Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up
204,Box,BUSINESS,4.2,159872,Varies with device,"10,000,000+",Free,0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device
213,ZOOM Cloud Meetings,BUSINESS,4.4,31614,37M,"10,000,000+",Free,0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3787,ABC News - US & World News,NEWS_AND_MAGAZINES,4.0,18976,35M,"1,000,000+",Free,0,Everyone 10+,News & Magazines,"June 6, 2018",3.19.11,5.0 and up
3788,NBC News,NEWS_AND_MAGAZINES,4.1,63020,Varies with device,"5,000,000+",Free,0,Everyone 10+,News & Magazines,"February 13, 2018",Varies with device,Varies with device
3790,USA TODAY,NEWS_AND_MAGAZINES,4.1,49259,Varies with device,"5,000,000+",Free,0,Everyone 10+,News & Magazines,"August 2, 2018",Varies with device,Varies with device
3792,CNN Breaking US & World News,NEWS_AND_MAGAZINES,4.0,293080,25M,"10,000,000+",Free,0,Everyone 10+,News & Magazines,"August 6, 2018",5.17,4.4 and up
3795,Newsroom: News Worth Sharing,NEWS_AND_MAGAZINES,4.2,201737,Varies with device,"10,000,000+",Free,0,Everyone 10+,News & Magazines,"July 3, 2018",Varies with device,Varies with device

In [ ]:
duplicate_df2 = df_user_review[df_user_review.duplicated(keep = 'last') ] # all duplicates values from df_user_review dataset
duplicate_df2

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
...,...,...,...,...,...
64289,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64290,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64291,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64292,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN
64293,Houzz Interior Design Ideas,NaN,NaN,NaN,NaN

In [ ]:
#Remove Duplicates from Main Database
main_data_1 = df_data.drop_duplicates() #remove duplicate and save as new main_data_1
main_data_1.shape #shape after removing duplicates

(10358, 13)

In [ ]:
#Remove Duplicates from Main Database
user_reviews_df1 = df_user_review.drop_duplicates() #remove duplicate and save as new DataFrame user_reviews_df1
user_reviews_df1.shape #shape after removing duplicates

(30679, 5)

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
main_data_1.isnull().sum().sum()
# Total number of missing values in main_data_1 is 1478

1478

In [ ]:
user_reviews_df1.isnull().sum().sum()
# Total number of missing values in user_reviews_df1 is 3933

3933

In [ ]:
# Visualizing the missing values
# define inpute_median function to fill the null values by using aggragate function like mean,mode,median.
def inpute_median(series):
  return series.fillna(series.median())

In [ ]:
main_data_1['Rating'].unique() # check null values in Rating column

array([ 4.1,  3.9,  4.7,  4.5,  4.3,  4.4,  3.8,  4.2,  4.6,  3.2,  4. ,
        nan,  4.8,  4.9,  3.6,  3.7,  3.3,  3.4,  3.5,  3.1,  5. ,  2.6,
        3. ,  1.9,  2.5,  2.8,  2.7,  1. ,  2.9,  2.3,  2.2,  1.7,  2. ,
        1.8,  2.4,  1.6,  2.1,  1.4,  1.5,  1.2, 19. ])

In [ ]:
main_data_1.Rating = main_data_1['Rating'].transform(inpute_median)

In [ ]:
main_data_1.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64

In [ ]:
# mode of catagarical data
print(main_data_1['Type'].mode())
print(main_data_1['Current Ver'].mode())
print(main_data_1['Android Ver'].mode())

0    Free
Name: Type, dtype: object
0    Varies with device
Name: Current Ver, dtype: object
0    4.1 and up
Name: Android Ver, dtype: object

In [ ]:
# fill the missing catagarical values with mode
main_data_1['Type'].fillna(str(main_data_1['Type'].mode().values[0]), inplace = True)
main_data_1['Current Ver'].fillna(str(main_data_1['Current Ver'].mode().values[0]), inplace = True)
main_data_1['Android Ver'].fillna(str(main_data_1['Android Ver'].mode().values[0]), inplace = True)

In [ ]:
main_data_1.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

### What did you know about your dataset?

Answer Here

In [ ]:

Columns_Name                      Details_of_Contains
App              The app name
Category         Categorical label, which describes which broad category the app belongs to.
Rating	              Continuous variable with a range from 0.0 to 5.0, which describes the average rating the app has received from the users.
Reviews                   Continuous variable describing the number of reviews that the app received.
Size	The size of the app. The suffix M is used for megabytes, while the suffix K is used for kilobytes.
Installs	Categorical label that describes the number of installs.
Type	Label that indicates whether the app is free or paid.
Price	The price value for the paid apps.
Content Rating	Categorical rating that indicates the age group for which the app is suitable.
Genre	Smicolon-separated list of genres to which the app belongs.
Last Update	The date the app was last updated.
Current Version	The current version of the app as specified by the developers.
Android Version	The Android operating system the app is compatible with.

Details of Each Columns of user_reviews_df DataFrame

Columns_Name	Details_of_Contains
App	The app name.
Translated_Review	Review text in English.
Sentiment	Sentiment of the review, which can be positive, neutral, or negative.
Sentiment_Polarity	Sentiment in numerical form, ranging from -1.00 to 1.00.
Sentiment_Subjectivity	Measure of the expression of opinions, evaluations, feelings, and speculations

SyntaxError: ignored

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
list(main_data_1.columns)

['App',
 'Category',
 'Rating',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated',
 'Current Ver',
 'Android Ver']

In [ ]:
# Dataset Describe
main_data_1.describe()

             Rating
count  10358.000000
mean       4.205165
std        0.506868
min        1.000000
25%        4.100000
50%        4.300000
75%        4.500000
max       19.000000

In [ ]:
df_user_review.describe()

       Sentiment_Polarity  Sentiment_Subjectivity
count        37432.000000            37432.000000
mean             0.182146                0.492704
std              0.351301                0.259949
min             -1.000000                0.000000
25%              0.000000                0.357143
50%              0.150000                0.514286
75%              0.400000                0.650000
max              1.000000                1.000000

### Variables Description

Answer Here

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
# Category
main_data_1['Category'].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       '1.9'], dtype=object)

In [ ]:
# '1.9' is wrong value. So I have to see in which rows '1.9' corresponds to.
main_data_1[main_data_1['Category'] == '1.9']

In [ ]:
# We can make NaN category value. At that time we can get a clean data. I used shift() method that is found Pandas library.

main_data_1.loc[10472] = main_data_1.loc[10472].shift()
main_data_1['App'].loc[10472] = main_data_1['Category'].loc[10472]
main_data_1['Category'].loc[10472] = np.nan
main_data_1.loc[10472]

In [ ]:
# Rating
main_data_1['Rating'].unique()

In [ ]:
#Data type of Rating is object. If we convert from string to numeric, we can make easy.

main_data_1['Rating'] = pd.to_numeric(main_data_1['Rating'], errors='coerce')
main_data_1['Rating'].dtype

In [ ]:
# Review
main_data_1['Reviews'].unique()

In [ ]:
main_data_1['Reviews'] = main_data_1.Reviews.replace("0.0",0)
main_data_1['Reviews'] = main_data_1.Reviews.replace("3.0M",3000000.0)
main_data_1['Reviews'] = main_data_1['Reviews'].astype(float)
main_data_1['Reviews'].dtype

In [ ]:
# Size
main_data_1['Size'].unique()

In [ ]:
# Data type of Size is object. I had to convert the column because it contains the application sizes. Firstly I changed 'Varies with device' value with Nan.
# After, I dropped 'M' and 'k'. I changed from '1000+' to 1000. Finally, I converted float value.
main_data_1['Size'] = main_data_1.Size.replace("Varies with device",np.nan)
main_data_1['Size'] = main_data_1.Size.str.replace("M","000") # All size values became the kilobyte type.
main_data_1['Size'] = main_data_1.Size.str.replace("k","")
main_data_1['Size'] = main_data_1.Size.replace("1,000+",1000)
main_data_1['Size'] =main_data_1['Size'].astype(float)
main_data_1['Size'].dtype

In [ ]:
#Installs
main_data_1['Installs'].unique()

In [ ]:
# Data type of Size is object. I'm gonna make similar processes, which I made the in 'Size'.

main_data_1['Installs'] = main_data_1.Installs.str.replace(",","")
main_data_1['Installs'] = main_data_1.Installs.str.replace("+","")
main_data_1['Installs'] = main_data_1.Installs.replace("Free",np.nan)
main_data_1['Installs'] = main_data_1['Installs'].astype(float)
main_data_1['Installs'].dtype

In [ ]:
# Price
main_data_1['Price'].unique()

In [ ]:
# Data type of Price is object. I have made similar processes, which I made the in 'Size'.
main_data_1['Price'] = main_data_1.Price.replace("Everyone",np.nan)
main_data_1['Price'] = main_data_1.Price.str.replace("$","").astype(float)
main_data_1['Price'].dtype

In [ ]:
# Last Update
main_data_1['Last Updated'].unique()

In [ ]:
# Data type of Last Uptated is object. I converted from string to date type.
main_data_1['Last Updated'] = pd.to_datetime(main_data_1['Last Updated'])
main_data_1['Last Updated']

In [ ]:
main_data_1

In [ ]:
main_data_1.describe()

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.
#dropped the rows having all null values
df_user_review1 = df_user_review.dropna(subset=["Translated_Review"],how="all")
df_user_review1.isnull().sum()

In [ ]:
df_user_review1.info()

In [ ]:
df_user_review1.describe()

In [ ]:
main_data_1.info()

### What all manipulations have you done and insights you found?

Answer Here.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1

In [ ]:
# Chart - 1 visualization code
#Top Categories Apps in Playstore
plt.figure(figsize=(15,10))

y = main_data_1['Category'].value_counts().index
x = main_data_1['Category'].value_counts()
plt.xlabel("Count")
plt.ylabel("Category")
graph = sns.barplot(x, y)
graph.set_title("Top categories on Playstore", fontsize = 20);

##### 1. Why did you pick the specific chart?

In [ ]:
# The box plot organizes large amounts of data, and visualizes outlier values.
# # before cleaning the dataset outlier value found from the above boxplot is at an index values of 10472.
# which Rating is 19 but for our analysis rating varies from 1 to 5.

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

In [ ]:

# from the above chart most of the app is rating is between 4 to 4.5

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 2

In [ ]:
# Chart - 2 visualization code
y = main_data_1['Genres'].value_counts().index
x = main_data_1['Genres'].value_counts().head(10)
xsisG = []
ysisG = []
for i in range(len(x)):
    xsisG.append(x[i])
    ysisG.append(y[i])

plt.figure(figsize=(15,5))
plt.xlabel("Count")
plt.ylabel("Geners")

graph = sns.barplot(x = xsisG, y = ysisG,)
graph.set_title("Top Genres on Playstore", fontsize = 20);

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 3

In [ ]:
# Chart - 3 visualization code Category and Reviews

category_list = list(main_data_1['Category'].unique())
category_review = []
for i in category_list:
    x = main_data_1[main_data_1['Category'] == i]
    if(len(x)!=0):
        review = sum(x.Reviews)/len(x)
        category_review.append(review)
    else:
        review = sum(x.Reviews)
        category_review.append(review)
#sorting
data_category_reviews = pd.DataFrame({'category': category_list,'review':category_review})
new_index = (data_category_reviews['review'].sort_values(ascending=False)).index.values
sorted_data =data_category_reviews.reindex(new_index)

# visualization
plt.figure(figsize=(15,10))
sns.barplot(x=sorted_data['category'], y=sorted_data['review'])
plt.xticks(rotation=80)
plt.xlabel("Category")
plt.ylabel("Reviews")
plt.title("Category and Reviews")
plt.plot()

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 4

In [ ]:
# Chart - 4 visualization code Category and Installs
category_list = list(main_data_1['Category'].unique())
category_install = []
for i in category_list:
    x = main_data_1[main_data_1['Category'] == i]
    if(len(x)!=0):
        install = sum(x.Installs)/len(x)
        category_install.append(install)
    else:
        install = sum(x.Installs)
        category_install.append(install)

#sorting
data_category_install = pd.DataFrame({'category': category_list,'install':category_install})
new_index = (data_category_install['install'].sort_values(ascending=False)).index.values
sorted_data =data_category_install.reindex(new_index)

# visualization
plt.figure(figsize=(15,10))
sns.barplot(x=sorted_data['category'], y=sorted_data['install'])
plt.xticks(rotation=80)
plt.xlabel("Category")
plt.ylabel("Install")
plt.title("Category and Install")
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 5

In [ ]:
# Chart - 5 visualization code Content Rating
plt.figure(figsize=(10,7))
sns.countplot(data=main_data_1, x='Content Rating')
plt.xticks(rotation=80)
plt.title('Content Rating',color = 'blue',fontsize=15)
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 6

In [ ]:
# Chart - 6 visualization code
plt.figure(figsize=(15,5))
plt.xlabel("Rating")
plt.ylabel("Frequency")
graph = sns.kdeplot(main_data_1.Rating, color="#4B0751", shade = True)
plt.title('Most Frequent Rating',size = 20);

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 7

In [ ]:
# Chart - 7 visualization code
# Paid and Free Apps Ratio From All Apps
plt.figure(figsize=(15,10))
x=main_data_1.Type.value_counts()
label=["Free","Paid"]
plt.pie(x,labels=label,autopct="%1.2f%%",shadow=True, explode=[0,.21], startangle=45)
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 8

In [ ]:
main_data_1.columns

In [ ]:
# Chart - 8 visualization code
# App Updatation Details By Year
plt.figure(figsize=(15,5))
plt.title("Apps updatation by years", fontsize=20)
ax = plt.hist(main_data_1.Last Updated, color="#4B0751")
plt.tick_params(left='on', bottom='on')
plt.xlabel("Year")
plt.ylabel("Number of apps updated");
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 9

In [ ]:
# Chart - 9 visualization code
#marge both database for more analysis

merged_df = main_data_1.merge(df_user_review1, on="App")
merged_df.info()

In [ ]:
# Sentiment Data Across the All Reviews
plt.figure(figsize=(15,10))
pd.value_counts(df_user_review1["Sentiment"]).plot(kind = 'pie',  autopct='%1.2f%%',shadow=True, explode=[0, 0.05, 0.05], startangle=45 )
plt.title("Sentiment data across database",size=20)
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 10

In [ ]:
# Chart - 10 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 11

In [ ]:
# Chart - 11 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 12

In [ ]:
# Chart - 12 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 13

In [ ]:
# Chart - 13 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 14 - Correlation Heatmap

In [ ]:
# Correlation Heatmap visualization code
# corr() : It returns correlation.
# describe (): It returns number of entries, average of entries, outlier values, standart deviation, minimum and maximum entry.
main_data_1.corr()

In [ ]:
#correlation map
f,ax = plt.subplots(figsize=(6, 6))
sns.heatmap(main_data_1.corr(), annot=True, linewidths=.5, fmt= '.1f',ax=ax)
plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

#### Chart - 15 - Pair Plot

In [ ]:
# Pair Plot visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ?
Explain Briefly.

Answer Here.

# **Conclusion**

Write the conclusion here.

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***